---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
 * Images
 */
 img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
  }

figcaption {
    font-size: $small-font-size;
    text-align: center;
    color: rgb(169, 167, 167);
  }

#menu {
  display: flex;
  justify-content: center;
}

#menu > ul {
  padding: 10px 30px;
  border-radius: 10px;
  border: solid 1px #c4ecf4;
  background-color: rgba($color: #c4ecf4, $alpha: 0.5);
}
#menu ul > li {
  list-style-type: none;
}